In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
industries = pd.read_csv('industries.csv', sep=';', dtype='str')
companies = pd.read_csv('us-companies.csv', sep=';', dtype='str')
precios = pd.read_csv('us-shareprices-daily.csv', sep=';')

In [3]:
companies = companies.merge(industries, 
                              left_on=('IndustryId'),
                              right_on=('IndustryId'), 
                              how='left')
companies.groupby('Sector', sort=False).count().Ticker.sort_values(ascending=False)

Sector
Technology            417
Consumer Cyclical     344
Healthcare            327
Industrials           265
Financial Services    168
Consumer Defensive    117
Energy                111
Basic Materials        95
Real Estate            80
Utilities              57
Business Services      33
Other                   1
Name: Ticker, dtype: int64

In [4]:
energy_companies = companies[companies.Sector=='Energy']
tec_companies = companies[companies.Sector=='Technology']
health_companies = companies[companies.Sector=='Healthcare']
ind_companies = companies[companies.Sector=='Industrials']

In [5]:
prices = precios[precios.Ticker.isin(energy_companies.Ticker)]
prices = prices.append(precios[precios.Ticker.isin(tec_companies.Ticker)])
prices = prices.append(precios[precios.Ticker.isin(health_companies.Ticker)])
prices = prices.append(precios[precios.Ticker.isin(ind_companies.Ticker)])

In [6]:
prices.reset_index(drop=True, inplace=True)
prices

,Ticker,SimFinId,Date,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
0,APC,67564,2007-01-03,42.37,41.81,43.49,42.23,37.96,NaN,7313800,NaN
1,APC,67564,2007-01-04,41.05,40.93,41.98,41.03,36.88,NaN,7089800,NaN
2,APC,67564,2007-01-05,40.75,40.53,41.64,41.31,37.14,NaN,8593600,NaN
3,APC,67564,2007-01-08,41.90,41.05,42.10,41.35,37.17,NaN,5468100,NaN
4,APC,67564,2007-01-09,40.80,40.55,41.89,41.36,37.18,NaN,5161700,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2762206,SON,992009,2019-08-26,56.31,56.11,56.72,56.50,54.68,NaN,256000,100076838.0
2762207,SON,992009,2019-08-27,56.77,56.12,56.95,56.15,54.34,NaN,283300,100076838.0
2762208,SON,992009,2019-08-28,56.11,55.90,56.97,56.79,54.96,NaN,336200,100076838.0
2762209,SON,992009,2019-08-29,57.32,56.85,57.62,57.15,55.31,NaN,276700,100076838.0
2762210,SON,992009,2019-08-30,57.47,57.07,57.73,57.20,55.35,NaN,300200,100076838.0

In [7]:
prices.drop(['Open','Low','High','Close','Dividend'], axis=1, inplace=True)

In [8]:
prices.to_csv('filtered_prices.csv', compression='bz2', index=False)