In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
industries = pd.read_csv('./datos/industries.csv', sep=';', dtype='str')
companies = pd.read_csv('./datos/us-companies.csv', sep=';', dtype='str')
precios = pd.read_csv('us-shareprices-daily.csv', sep=';')

In [10]:
energy_list = industries[industries.Sector=='Energy'].IndustryId.unique()

In [13]:
energy_companies = companies[companies.IndustryId.isin(energy_list)]

In [14]:
energy_companies

     Ticker SimFinId                   Company Name IndustryId
16      NGL    36205         NGL Energy Partners LP     107001
120     APC    67564        ANADARKO PETROLEUM CORP     107002
137     BHI    71832               BAKER HUGHES INC     107004
186     KMI    88392            KINDER MORGAN, INC.     107003
279     DRQ   113753                  DRIL-QUIP INC     107004
...     ...      ...                            ...        ...
2028    INT   344219       WORLD FUEL SERVICES CORP     107001
2053    TDW   419436                  TIDEWATER INC     107004
2075    MDR   638112    MCDERMOTT INTERNATIONAL INC     107004
2096    FTI   637893                 TechnipFMC plc     107004
2105   TUSK   825691  MAMMOTH ENERGY SERVICES, INC.     107005

[111 rows x 4 columns]

In [15]:
energy_prices = precios[precios.Ticker.isin(energy_companies.Ticker)]

In [17]:
energy_prices.reset_index(drop=True, inplace=True)

In [18]:
energy_prices

,Ticker,SimFinId,Date,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
0,APC,67564,2007-01-03,42.37,41.81,43.49,42.23,37.96,NaN,7313800,NaN
1,APC,67564,2007-01-04,41.05,40.93,41.98,41.03,36.88,NaN,7089800,NaN
2,APC,67564,2007-01-05,40.75,40.53,41.64,41.31,37.14,NaN,8593600,NaN
3,APC,67564,2007-01-08,41.90,41.05,42.10,41.35,37.17,NaN,5468100,NaN
4,APC,67564,2007-01-09,40.80,40.55,41.89,41.36,37.18,NaN,5161700,NaN
...,...,...,...,...,...,...,...,...,...,...,...
290480,OVV,980326,2019-08-26,21.30,20.85,21.45,21.15,20.03,NaN,22520910,190500000.0
290481,OVV,980326,2019-08-27,21.20,21.05,21.60,21.55,20.41,NaN,27068828,190500000.0
290482,OVV,980326,2019-08-28,21.80,21.45,22.20,21.60,20.46,NaN,31352494,190500000.0
290483,OVV,980326,2019-08-29,21.95,21.60,22.55,22.45,21.27,NaN,26078341,190500000.0
290484,OVV,980326,2019-08-30,22.45,21.85,22.55,22.20,21.03,NaN,21615001,190500000.0

In [19]:
energy_prices.to_csv('energy_prices.csv')